<!DOCTYPE html>
<html>
    <head>
        <title>Credentials</title>
    </head>
    <body>
        <p><a href="/credentials/create/oauth2_client">Create New OAuth2 Clients</a></p>
        <p><a href="">Generate Access Token</a></p>
        <form action="/oauth2/access_token" method="POST">
            <p><input type="text" name="client_id" placeholder="Client ID"></p>
            <p><input type="text" name="client_secret" placeholder="Client Secret"></p>
            <p><input type="submit"></p>
        </form>
        <p><a href="">Show List of Access Token</a></p>
    </body>
</html>