<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <form action="{{.Action}}" method="{{.Method}}" enctype="application/x-www-form-urlencoded">
            {{range .Fields}}
            <input type="{{.Type}}" name="{{.Name}}" required="{{.Required}}" value="{{.Value}}" placeholder="{{.Name}}">
            {{end}}
            <input type="submit" value="Register">
        </form>
        <p><a href="/registration">Sign Up!</a></p>
    </body>
</html>